@import 'fonts.css';
html,
body {
    margin: 0;
    padding: 0;
}
.PGI {
    width: 100%;
}
.PGI > .box {
    width: 600px;
    height: 550px;
    margin: 30px auto;
    background-color: #F5F5F5;
    box-shadow: 0 1px 6px 1px rgba(113, 113, 113, 0.3);
}
.PGI > .box > .content {}
.PGI > .box > .content > .title-info {
    font-size: 11px;
    font-style: italic;
    font-weight: 600;
    padding: 2px 25px;
    text-align: right;
}
.PGI > .box > .content > .message {
    display: block;
    background-color: #FF1717;
    text-align: center;
    font-size: 11px;
    padding: 3px;
    color: white;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.PGI > .box > .content > .message > .msg {
    width: 94%;
    float: left;
}
.PGI > .box > .content > .message > button {
    float: right;
    border: 0px solid;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
    color: white;
    outline: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
    width: 15px;
    height: 15px;
    padding: 0;
}
.PGI > .box > .content > .message > button:hover {
    color: black;
}
.PGI > .box > .content > .merchant {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 5px 0 5px 25px;
}
.PGI > .box > .content > .merchant > .logo {
    float: left;
    width: auto;
}
.PGI > .box > .content > .merchant > .logo-bank > img {
    float: right;
    width: auto;
    height: 35px;
    padding: 0px 25px 0px 25px;
    border-left: 1px solid #c3c3c3;
}
.PGI > .box > .content > .merchant > .name {
    font-size: 14px;
    font-weight: bold;
}
.PGI > .box > .content > .merchant > .theme {
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 500;
}
.PGI > .box > .content > .title-details {
    text-align: left;
    float: left;
    padding: 10px 25px;
}
.PGI > .box > .content > .title-details > .title {
    font-size: 17px;
}
.PGI > .box > .content > .title-details > .detail {
    font-size: 9px;
}
.PGI > .box > .content > .amount {
    width: 100%;
    height: 65px;
    background: #f5f5f5;
    box-sizing: border-box;
    padding: 17px;
    background-image: url(../image/card.svg);
    background-repeat: no-repeat;
    background-position: 102% top;
    background-size: 62px;
}
.PGI > .box > .content > .amount > .label {
    float: right;
    width: 200px;
}
.PGI > .box > .content > .amount > .label > .cont {
    float: left;
    height: 20px;
    padding: 9px 5px 1px 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 10px;
    box-shadow: 9px 0px 20px 0px rgba(0, 0, 0, 0.6);
}
.PGI > .box > .content > .amount > .label > .line {
    height: 20px;
    padding: 5px 0;
    width: 1px;
    float: left;
}
.PGI > .box > .content > .amount > .label > .amnt {
    height: 20px;
    float: left;
    padding: 7px 15px 3px 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 6px 0px 20px 0px rgba(0, 0, 0, 0.6);
    font-family: Roboto;
    font-size: 14px;
}
#ccode {
    font-size: 10px;
}
.PGI > .box > .content > .sec-mandatory {
    padding: 17px;
}
.PGI > .box > .content > .sec-mandatory > .sec-field {
    padding: 1px;
    float: left;
    width: 49%;
}
.PGI > .box > .content > .sec-mandatory > .sec-field >label {
    font-family: Raleway;
    font-size: 11px;
    padding: 0px 10px;
    margin: 0px;
    box-sizing: border-box;
    color: gray;
}
.PGI > .box > .content > .sec-mandatory > .sec-field >.input-field {
    padding: 3px;
    margin: 0px;
    box-sizing: border-box;
}
.PGI > .box > .content > .sec-mandatory > .sec-field >.input-field > input.input_ {
    width: 100%;
    padding: 0 10px;
    border: 1px solid gray;
    outline: none;
    font-family: Raleway;
    background: transparent;
    font-size: 13px;
    color: gray;
    height: 32px;
    font-weight: 400;
}
.sec-field >.input-field > input.input-cardField {
    width: 75%;
    padding: 0 10px;
    height: 32px;
    border: 1px solid gray;
    outline: none;
    font-family: Roboto;
    background: transparent;
    font-size: 13px;
    color: gray;
    float: left;
}
.sec-field >.input-field >span.caImage {
    float: left;
    border: 1px solid gray;
    border-left: 0px solid;
    height: 32px;
    box-sizing: border-box;
    width: 25%;
    padding: 0px 5px;
}
.PGI > .box > .content > .sec-optional {}
.PGI > .box > .content > .sec-footer {}
.horizontal-line {
    width: 92%;
    height: 1px;
    background-color: #dcdcdc;
    margin: 5px auto;
}
