/*
@media only screen and (min-width: 570px) {
    .PGI > .box {
        
    }
}
*/
@media only screen and (max-width: 680px) {
    .PGI > .box {
        width: 90%;
        height: 1000px;
    }
}
@media only screen and (max-width: 550px) {
    .PGI > .box {
        width: 90%;
        height: 1000px;
    }
}
