/*
@media only screen and (min-width: 570px) {
    .PGI > .box {
        
    }
}
*/

@media only screen and (max-width: 680px) {
    .PGI > .box {
        width: 90%;
        height: 1000px;
    }
}
@media only screen and (max-width: 550px) {
    .PGI > .box > .content > .sec-mandatory > .sec-field {
        width: 100%;
    }
    .PGI > .box > .content > .sec-mandatory > .sec-field_2 {
        width: 49.5%;
    }
    .sec-field >.input-field >span.caImage{
        width: 15%;
    }
    .sec-field >.input-field > input.input-cardField{
        width: 85%;
    }
}
@media only screen and (max-width: 500px) {
    .PGI > .box > .content > .sec-mandatory > .sec-field_2 {
        width: 100%;
    }
    table#optional {
        border: 0;
    }
    table#optional tr {
        display: block;
    }
    table#optional td {
        display: block;
    }
    table#optional td div.input-field{
        padding: 3px;
        margin-left: 2px;
    }
    table#optional td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
    table#optional td:last-child {
        border-bottom: 0;
    }
}
@media only screen and (max-width: 450px) {
    .sec-field >.input-field >span.caImage{
        width: 20%;
    }
    .sec-field >.input-field > input.input-cardField{
        width: 80%;
    }
}
@media only screen and (max-width: 350px) {
    .sec-field >.input-field >span.caImage{
        width: 25%;
    }
    .sec-field >.input-field > input.input-cardField{
        width: 75%;
    }
}
